# Ratelimiting for the '/get/{id}' and '/random' endpoint.
DISABLE_RATE_LIMITING=false

# Number of book requests allowed within the interval.
GET_BOOK_RATE_LIMIT=3
# The interval (in seconds) of when the set rate limit resets per user.
GET_BOOK_RATE_INTERVAL=3.0

RANDOM_BOOK_RATE_LIMIT=3
RANDOM_BOOK_RATE_INTERVAL=3.0